[submodule "NSSL-MP"]
	path = NSSL-MP
	url = https://github.com/NOAA-National-Severe-Storms-Laboratory/NSSL-MP.git
[submodule "RUCLSM"]
	path = RUCLSM
	url = https://github.com/NOAA-GSL/RUCLSM.git
[submodule "MYNN-EDMF"]
	path = MYNN-EDMF
	url = https://github.com/NCAR/MYNN-EDMF.git
[submodule "MYNN-SFC"]
	path = MYNN-SFC
	url = https://github.com/NCAR/MYNN-SFC.git
